<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--以接口化方式来处理mapper 文件时，namespace的值必须是它对应的接口的包路径-->
<mapper namespace="com.xuhai.mapper.DepartmentMapper">

    <select id="getAll" resultType="com.xuhai.entity.Department">
        select * from department
    </select>
    <select id="getById" resultType="com.xuhai.entity.Department" parameterType="int">
        select * from department where id = #{id}
    </select>

    <insert id="addInfo">
        insert into department values(null,#{name},#{profile},#{status})
    </insert>

    <!--传递的参数为对象时，直接使用对象的属性名即可-->
    <update id="updateInfo" parameterType="department">
        update department set name = #{name},profile = #{profile},status = #{status} where id = #{id}
    </update>

    <delete id="deleteInfo" parameterType="int">
        delete from department where id = #{id}
    </delete>

    <insert id="add" parameterType="department" keyProperty="id" useGeneratedKeys="true">
        insert into department values(null,#{name},#{profile},#{status})
    </insert>
    <insert id="add2" parameterType="department">
        insert into department values(null,#{name},#{profile},#{status})
    </insert>
</mapper>
