<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace是mybatis的命名空间属性，要求全局(整个项目)唯一-->
<mapper namespace="nsUserinfo">
    <select id="getAll" resultType="userinfo">
        select * from userinfo
    </select>
</mapper>
